*.sw*
*~
build/
bin/
node_modules/
vendor/

.bowerrc
.gitmodules
.travis.yml
CHANGELOG.md
Gruntfile.js
LICENSE
README.md
bower.json
build.config.js
changelog.tpl
karma/
module.prefix
module.suffix
package.json
src/
tools.md