
<div class="row">
  <div class="form-group col-sm-6">
    <label class="control-label">Field Set Name</label>
    <input class="form-control" ng-model="field_set.name" ng-required="true"/>
  </div>

  <!-- <div class="form-group col-sm-5">
    <label class="control-label">Param</label>
    <input class="form-control input-sm" ng-model="field_set.param" />
  </div> -->

  <div class="form-group col-sm-1">
    <label class="control-label">Order</label>
    <input class="form-control input-sm" ng-model="field_set.order" />
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-12">
    <label class="control-label">Description</label>
      <textarea class="form-control input-sm" ng-model="field_set.description" rows="3"/>
    </div>
  </div>
</div>