
<div class="edit_schema">

  <div class="panel panel-info">

    <div class="panel-heading">
      <h4> <i class="fa fa-sitemap"/> Editing Schema {{schema.name }}</h4>
    </div>

    <div class="panel-body">

      <!-- Edit Schema / FieldSet Nav -->
      <div class="col-sm-3 well">
        <form role="form" inplace-edit ng-model="schema">
          <div class="inplace-edit-show">
            <div class="form-group">
              <i class="fa fa-pencil inplace-edit-toggle pull-right"/>
              <h5>{{schema.name}}
              </h5> 
            </div>
            <div class="form-group">
              {{schema.description}}
            </div>
          </div>
          <div class="inplace-edit-form">
            <div class="form-group">
              <input class="form-control input-sm" ng-model="schema.name" />
            </div>
            <div class="form-group">
              <textarea class="form-control input-sm" ng-model="schema.description"/>
            </div>
            <button class="inplace-edit-save btn btn-success btn-xs">update</button>
            <button class="inplace-edit-cancel btn btn-warning btn-xs">cancel</button>
          </div>
        </form>

        <!-- Field Set Buttons -->
        <div style="margin-top:10px;border-top:1px solid lightgray;" ng-show="schema.field_sets.length">
          <h6>Edit Field Sets:</h6>
          <a class="btn btn-default btn-xs btn-block"
              ng-repeat="field_set in schema.field_sets"
              ui-sref-active="active"
              ui-sref="edit_schema.edit_field_set({schema_id: schema.id, field_set_id: field_set.id})">
            {{field_set.name}}
          </a>

          <a ui-sref-active="disabled" 
            class="btn-primary btn btn btn-block" ui-sref="edit_schema({schema_id: schema.id})">
            New field set
          </a>
        </div>

      </div>


      <!-- Field Set Form -->
      <div class="col-sm-9" ui-view="form">

        <!-- new field set form by default -->
        <div ng-controller="NewFieldSetCtrl" class="col-sm-12">
          <form name="field_set">
            <div ng-include=" 'schemas/edit/field_set/_field_set_form.tpl.html' ">
            </div>
            <div class="col-sm-12">
              <div class="pull-right">
                <input type="submit" ng-click="save()" class="btn btn-success" value='Create Field Set'>
                </input>
              </div>
            </div>
          </form>
        </div>
      </div>


    </div>
  </div>
</div>
