<div class="col-sm-12">

  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input class="form-control input-lg" ng-model="model.name" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Param</label>
    <div class="col-sm-10">
      <input class="form-control input-sm" ng-model="model.param" />
      <span class="help-block">should be unique to the object</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea class="form-control" ng-model="model.description" rows="4"/>
    </div>
  </div>

</div>

