
.case_list {

  thead {
    td.eval_question.subquestion {
      display:block;
      width: 50px;
      position:relative;
      overflow: hidden;
      border:none;
    }
  }

  td.pie_container {

    width: 80px;
    
    div[evaluation-responses] {
      width: 60px;
      height:60px;
      position:relative;
      overflow:hidden;
    }

    &.subquestion {
      width: 50px;
      div[evaluation-pie] {
        width: 40px;
        height:40px;
      }
    }

  }

}





.edit_case {
  .field_set {
    table {

      tr.field_set_description td {
        border-top: none;
        padding: 0 30px 20px 30px;
      }

      .inplace-edit-show .inplace-edit-toggle {
        opacity: 0;
      }

      tr:hover {
        .inplace-edit-show .inplace-edit-toggle {
          opacity: 1;
        }
      }

      td.field_value_wrapper{

        .field_value.form {
          position:relative;
          z-index:10;
        }


        .field_value.show.TextField{
          min-height: 70px;
        }

        .field_value{

          width:100%;
          height:100%;

          textarea {
            height:100%;
            width:100%;
          }            
        }



      }


    }
  }
}