.edit_case {
  .field_set {
    table {
      .inplace-edit-show .inplace-edit-toggle {
        opacity: 0;
      }

      tr:hover {
        .inplace-edit-show .inplace-edit-toggle {
          opacity: 1;
        }
      }
    }
  }
}