<div class="row case_list">

  <div class="col-sm-10">

    <div ng-grid="gridOptions"></div>
    <!-- Case List -->
<!--     <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <td colspan='2'>Case</td>
          <td ng-repeat="c in columns"
              class="{{c.route}}"
              ng-class="{subquestion: c.is_subquestion}">
            {{c.param}}
          </td>
        <tr>
      </thead>
      <tbody>
        <tr ng-repeat="k in cases">
          <td>
            <a ui-sref="edit_case({case_id: k.id})" ui-sref-opts="{reload:true}">
              <img class="img-thumbnail" ng-show="k._image_urls.sq60" ng-src="{{$parent.asset_url(k._image_urls.sq60)}}">
            </a>
          </td>
          <td>
            <a ui-sref="edit_case({case_id: k.id})" ui-sref-opts="{reload:true}">
            {{k.name}}
            </a>
          </td>
          <td ng-repeat="c in columns"
              ng-class="{subquestion: c.is_subquestion}">         
                <div evaluation-responses="question_set.responses_lookup[k.id][q.id][0]"
                 for-question="q"></div>

          </td>
        </tr>
      </tbody>
    </table> -->
  </div>



  <div class="col-sm-2">

    <p>
      <h5>Columns</h5>
      <div>name</div>
      <div ng-repeat="col in column_defs">
        {{col.param}}
      </div>

      <ui-select ng-model="$parent.new_column"
                 theme="bootstrap" 
                 ng-disabled="disabled" style="width:100%;">
        <ui-select-match placeholder="add schema field">Add Schema Field</ui-select-match>
        <ui-select-choices repeat="field in available_fields| filter: {param: $select.search }">
          {{field.param}}
        </ui-select-choices> 
      </ui-select>


    </p>

    <p>
      <h5>Filter Cases</h5>
      <a class="btn btn-block btn-default btn-xs" ui-sref-active="active" ui-sref="cases({case_filter:'all'})">All Cases</a>
      <a class="btn btn-block btn-default btn-xs" ui-sref-active="active" ui-sref="cases({case_filter:'schema'})">Schema's Cases</a>
      <a class="btn btn-block btn-default btn-xs" ui-sref-active="active" ui-sref="cases({case_filter:null})">Your Evaluated Cases</a>
    </p>


    <p>
      <h5>Evaluation Filters</h5>
      <a class="btn btn-block btn-default btn-xs" ui-sref-active="active" ui-sref="cases({eval_filter:'all'})">All Evaluations</a>
      <a class="btn btn-block btn-default btn-xs" ui-sref-active="active" ui-sref="cases({eval_filter:null})">Your Evaluations</a>
    </p>


    <p>
      <a class="btn btn-block btn-success" ui-sref="new_case" ><i class="fa fa-plus"> New Case</i></a>
      <a class="btn btn-block btn-success" ng-click="new_evaluation()"> <i class="fa fa-plus"> New Evaluation </i> </a>
    </p>



  </div>


</div>





