.edit_case {
  .field_set {
    table {
      .inplace-edit-show .inplace-edit-toggle {
        opacity: 0;
      }

      tr:hover {
        .inplace-edit-show .inplace-edit-toggle {
          opacity: 1;
        }
      }

      td.field_value{

        .inplace-edit-form {

          height:100%;
          width:100%;

          div[ng-include]{

            height:100%;
            width:100%;

            textarea {
              height:100%;
              width:100%;
            }            
          }


        }

      }


    }
  }
}