

<div class="panel panel-info">
  <div class="panel-heading">
    <h4><i class="fa fa-puzzle-piece"/> New Case

  </div>
  <div class="panel-body" ui-view="form">
    <form role="form">

      <div class="col-sm-2"> &nbsp; </div>

      <div class="col-sm-8">
        <div class="form-group">
          <label>Case Name</label>
          <input class="form-control" ng-model="kase.name" ng-required='true'/>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="kase.description"/>
          <p class="help-block">
            Case data can be added after first save
          </p>
        </div>

        <div class="form-group">
          <input type="submit" ng-click="save()" class="btn btn-success pull-right" value="Save and continue editing >" />
        </div>
      </div>

      <div class="col-sm-2"> &nbsp; </div>


    </form>
  </div>
</div>
