<ul class="nav navbar-nav navbar-right">

  <li class="dropdown pull-right">

    <a href class="dropdown-toggle" id="configs-menu" data-toggle="dropdown">
      <i class="fa fa-gears"></i>
    </a>

    <ul class="dropdown-menu user-configs" aria-labelledby="configs-menu">

      <!-- User Section -->
      <li  style="display: list-item;" ng-show="current_user.logged_in()">
        <div class="dropdown-header">logged in as {{current_user.name()}}</div>
        <a href ng-click="current_user.logout()" >logout</a>
      </li>

      <!-- Active Schema Config -->
      <li class="divider"></li>
      <li class="dropdown-header">Select Active Schema</li>
      <li ng-repeat="schema in schemas" ng-class="{case_active: schema.id == current_schema_id}">
          <a class="set" href ng-click="set_current_schema(schema.id)">
            <i class="fa fa-check text-primary"/>
            {{schema.name}}</a>
          <a class="edit" 
             ng-show="schema.user_id == current_user.id()" 
             ui-sref="edit_schema({schema_id: schema.id})"><i class="fa fa-pencil"/></a>
      </li>

      <li class="divider"></li>
      <li class="dropdown-header">Select Active Question Set</li>
      <li ng-repeat="set in question_sets" ng-class="{case_active: set.id == current_set_id}">

          <a class="set" href ng-click="set_current_set(set.id)">
            <i class="fa fa-check text-primary"/>
            {{set.name}}</a>
          <a class="edit" 
             ng-show="set.user_id == current_user.id()" 
             ui-sref="edit_question_set({id: set.id})"><i class="fa fa-pencil"/></a>

      </li>

      <!-- New Schema/Question Set -->
      <li class="divider"></li>
      <li><a href ui-sref="new_schema"><i class="fa fa-plus"/> New Schema</a></li>
      <li><a href ui-sref="new_question_set"><i class="fa fa-plus"/> New Question Set</a></li>

    </ul>
  </li>
</ul>