<form role="form" >

  <div class="form-group col-sm-6">
    <label class="control-label">Question Set Name</label>
    <input class="form-control" ng-model="question_set.name" />
  </div>

  <div class="form-group col-sm-6">

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="question_set.locked"> locked?
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="question_set.public_responses"> public responses?
      </label>
    </div>

  </div>

  <div class="form-group col-sm-12">
    <label class="control-label">Description</label>
      <textarea class="form-control" ng-model="question_set.description" rows="5"/>
    </div>
  </div>

  <button ng-click="save()"  class="btn btn-default">Save</button>

</form>