<div class="modal-header">
    <h3 class="modal-title">Response Detail</h3>
</div>

<div class="modal-body">
  <div ng-repeat="r in responses"
       class="row inplace-edit">

    <div class="inplace-edit-show col-sm-12">
      <div class="col-sm-2">
        {{response_name(r)}}
      </div>
      <div class="col-sm-9">
        {{r.comment}}
      </div>
      <div class="col-sm-1">
        <i class="fa fa-edit inplace-edit-toggle"/>
      </div>
    </div>

    <div class="inplace-edit-form">
      <div class="col-sm-2">
        <select ng-model="responses[$index].answer" ng-options="parseInt(val) as name for (val,name) in question.response_options"></select>
      </div>
      <div class="col-sm-9">
        <textarea ng-model="responses[$index].comment" class="form-control" rows='2'/> 
      </div>
      <div class="col-sm-1">
        <i class="fa fa-times inplace-edit-toggle" ng-click="cancel(responses[$index])"/>
        <i class="fa fa-check inplace-edit-toggle" ng-click="save(responses[$index])"/>
      </div>
    </div>


  </div>

</div>